.d-flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.s-btw {
  justify-content: space-between;
}

.s-around {
  justify-content: space-around;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.a-c {
  align-items: center;
}

.wrap-flex {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

.g40 {
  gap: 40px;
}

.m5-a {
  margin: 5px auto;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.m50 {
  margin: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mv10 {
  margin: 0 10px;
}

.p5 {
  padding: 5px;
}

.over {
  overflow: auto;
}

.pntr {
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background: lightsteelblue;
  height: 100vh;
  padding: 10px;
}

.toolbar {
  background: #7e9bd6;
  padding: 10px;
}

.toolbar a {
  text-decoration: none;
  font-weight: 900;
  font-size: 1.1em;
}

.toolbar-box {
  display: flex;
  justify-content: space-between;
}

.toolbar button {
  border: 1px solid #5983d6;
  border-radius: 4px;
  background: #5983d6;
  color: #551a88;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
}

.toolbar button:hover {
  background: transparent;
}

.gold {
  color: #551a88;
  font-weight: 900;
  font-size: 1.2em;
}

.w-btn {
  cursor: pointer;
  background: rgb(59, 73, 150);
  border: 1px solid rgb(59, 73, 150);
  color: white;
  margin-left: 10px;
  width: 100%;
}

.w-btn:hover {
  background: transparent;
  color: darkslateblue;
}

.p-btn {
  cursor: pointer;
  background: rgb(59, 73, 150);
  border: 1px solid rgb(59, 73, 150);
  color: white;
  margin-right: 10px;
  width: 100%;
}

.p-btn:hover {
  background: transparent;
  color: darkslateblue;
}

.toolbar-main {
  justify-content: end;
}

.char {
  margin-top: 50px;
  margin: auto;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #a6bce9;
  box-shadow: 0 0 4px blue;
  border: 1px solid grey;
  border-radius: 8px;
  text-align: center;
  height: 400px;
  width: 200px;
  margin: 5px auto;
}

.player-hp-border {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 20px;
  height: 15px;
  width: 250px;
  border: 2px solid blue;
}

.player-hp {
  width: 100%;
  height: 15px;
  background: green;
  border-radius: 8px;
}

.post img {
  width: 100%;
  margin: 5px auto;
}

.weapon {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 8px;
  background: #96b0e2;
  width: 300px;
}

.weapon img,
.potion img {
  border-radius: 8px;
}

.potion {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 8px;
  background: #96b0e2;
  width: 300px;
}

.shop {
  height: 90vh;
}

.shop-inv {
  height: 90vh;
}

.shop-items {
  overflow: auto;
}

.shop-items::-webkit-scrollbar {
  background: none;
}

.shop-items::-webkit-scrollbar-thumb {
  background: #0053a0;
  border-radius: 10px;
}

.shop-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: 40px;
  margin: 15px 0;
}

.inventory {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 98%;
  border-radius: 8px;
  margin: 5px;
  overflow: auto;
}

.inventory img {
  border-radius: 8px;
}

.inv-box {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 8px;
  background: #96b0e2;
  width: 350px;
  height: 66px;
  margin: 5px;
}

.inventory::-webkit-scrollbar {
  background: none;
}

.inventory::-webkit-scrollbar-thumb {
  background: #0053a0;
  border-radius: 10px;
}

.arena {
  border: 1px solid blue;
  box-shadow: 0 0 15px blue;
  border-radius: 8px;
  width: 800px;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.attack {
  cursor: pointer;
  background: rgb(212, 0, 255);
  color: white;
  font-size: 1.1em;
  border: 1px solid rgb(212, 0, 255);
  border-radius: 8px;
  padding: 8px;
  width: 100px;
}

.attack:hover {
  background: #cc86dd;
}

.monster-hp-border {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 20px;
  height: 15px;
  width: 250px;
  border: 2px solid blue;
}

.monster-hp {
  width: 100%;
  height: 15px;
  background: green;
  border-radius: 8px;
}

.inv-btn {
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  padding: 6px;
  width: 250px;
}

.inv-btn:hover {
  background: grey;
}

.modal {
  background: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal-inv {
  background-color: #7e9bd6;
  box-shadow: 0 0 15px blue;
  width: 450px;
  height: 500px;
  border-radius: 12px;
  padding: 0 3px 7px 2px;
}

.modal-box {
  height: 440px;
}

.close-btn button {
  background: transparent;
  border: none;
  color: #551a88;
  font-size: 1.8em;
  font-weight: 900;
  margin: 5px;
}

.main-inv {
  border: 1px solid gray;
  box-shadow: 0 0 5px blue;
  height: 500px;
}

.item-btn button {
  cursor: pointer;
  border-radius: 4px;
  background: #0053a0;
  color: white;
  margin-right: 5px;
  padding: 5px;
  width: 60px;
}

.item-btn button:hover {
  background: transparent;
  color: #0053a0;
}

.weapon-place {
  width: 70%;
  display: flex;
  justify-content: start;
}

.weapon-box {
  background: #a6bce9;
  border: 2px solid #0053a0;
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.weapon-box img {
  width: 100%;
}
